:root{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.favcontainer{
    display:flex;
    align-items: center;
    justify-content: center;
}

.favcoin{
    display:grid;
    align-items: center;
    grid-template-columns: 1.25fr 1.25fr 1fr 1fr 1.5fr 1.5fr 1fr;
    border-bottom:1px solid lightblue;
    margin:10px;
    width:80vw;
}

.favimg{
    width:50px;
    height:50px;
}

.NoFavsContainer{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}